body {
    background-color: rgb(144, 133, 158);

}
img{
    width: 200px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
}
tr:hover{
    background-color: brown;
}

input {
    border-radius: 3px ;
    border: 3px solid greenyellow;
    background-color: red;
}

.inputcolor{
    background-color: blue;
}

#contraseña{
    background-color: aqua;/*color de fondo de la caja*/
    color: rgb(0, 0, 0);/*color de la letra*/
}