body {
    background-color: rgb(144, 133, 158);

}
img{
    width: 200px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
}
tr:hover{
    background-color: rgb(236, 11, 11);
}

input {
    border-radius: 3px ;
    border: 3px solid rgb(61, 61, 60);
    background-color: rgb(204, 183, 183);
}

.inputcolor{
    background-color: rgb(183, 183, 209);
}

#contraseña{
    background-color: rgb(170, 199, 199);/*color de fondo de la caja*/
    color: rgb(0, 0, 0);/*color de la letra*/
}